.git
.gitignore
README.md
.github
.gradle
gradle-wrapper.properties
gradlew
gradlew.bat
.idea
.vscode
.settings
.project
.classpath
target
node_modules
.env
.env.local
*.log
build/reports
build/tmp
build/test-results
src/test